In [14]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from math import *
from decimal import Decimal 
from sklearn import preprocessing

upload file

In [15]:
from google.colab import drive
drive.mount('/content/drive')
df= pd.read_csv('/content/drive/MyDrive/Diabetes.csv')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [16]:
x = df.iloc[:,:-1].values
y = df.iloc[:,-1].values

preprocessing

In [17]:
x = pd.DataFrame(x)
y = pd.DataFrame(y)
x = x.replace(0, np.NaN)
x.fillna(x.mean(),inplace=True)

# x = pd.DataFrame(x)
# y = pd.DataFrame(y)
# x = x.replace(0, np.NaN)
# x.fillna(x.median(),inplace=True)

min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
x = pd.DataFrame(x_scaled)

In [18]:
x

            0         1         2  ...         5         6         7
0    0.312500  0.670968  0.489796  ...  0.314928  0.234415  0.483333
1    0.000000  0.264516  0.428571  ...  0.171779  0.116567  0.166667
2    0.437500  0.896774  0.408163  ...  0.104294  0.253629  0.183333
3    0.000000  0.290323  0.428571  ...  0.202454  0.038002  0.000000
4    0.218417  0.600000  0.163265  ...  0.509202  0.943638  0.200000
..        ...       ...       ...  ...       ...       ...       ...
763  0.562500  0.367742  0.530612  ...  0.300613  0.039710  0.700000
764  0.062500  0.503226  0.469388  ...  0.380368  0.111870  0.100000
765  0.250000  0.496774  0.489796  ...  0.163599  0.071307  0.150000
766  0.000000  0.529032  0.367347  ...  0.243354  0.115713  0.433333
767  0.000000  0.316129  0.469388  ...  0.249489  0.101196  0.033333

[768 rows x 8 columns]

Perhitungan Jarak

In [19]:
#eucliden
def eucliden(x,y):
  return np.sqrt(np.sum((x-y)**2))
#manhattan
def manhattan(x,y):
  return np.sum(abs(x-y))
#minkowski  
def p_root(value, root): 
    root_value = 1 / float(root) 
    return round (Decimal(value) **
             Decimal(root_value), 3)
def minkowski(x, y, p_value): 
    return (p_root(sum(pow(abs(a-b), p_value) 
            for a, b in zip(x, y)), p_value))

split data

In [20]:
def perhitungantraining(trainx,trainy,k):
  kelas = []
  for i in range(len(trainx)):
    a = trainx.iloc[i].values
    hitung = []
    for j in range(len(trainx)):
        b = trainx.iloc[j].values
        if manhattan(a,b) != 0:
          hitung.append([manhattan(a,b),trainy.iloc[j].values])
    setelahurut = sorted(hitung)[:k]
    m = 0
    n = 0
    for j in setelahurut:
      if j[1][0] == 1:
        m+=1
      else:
        n+=1
    if m>n:
      kelas.append(1)
    else:
      kelas.append(0)
  return kelas

In [21]:
def perhitungantesting(trainx,trainy,testx,k):
  kelas = []
  for i in range(len(testx)):
    a = testx.iloc[i].values
    hitung = []
    for j in range(len(trainx)):
        b = trainx.iloc[j].values
        hitung.append([manhattan(a,b),trainy.iloc[j].values])
    setelahurut = sorted(hitung)[:k]
    m = 0
    n = 0
    for j in setelahurut:
      if j[1][0] == 1:
        m+=1
      else:
        n+=1
    if m>n:
      kelas.append(1)
    else:
      kelas.append(0)
  return kelas

In [22]:
def akurasi(prediksi,asli):
  sama = 0
  for i in range(len(prediksi)):
    if prediksi[i] == asli.iloc[i].values:
      sama+=1
  return sama/len(prediksi)*100

In [23]:
def main(k):
  subset_size = round(len(x)/5)
  akurasitrain = []
  akurasitest = []
  for i in range(5):
    if i == 4:
      trainingx = x.iloc[0:(i*subset_size)-2]
      testingx = x.iloc[(i*subset_size)-2:]
      trainingy = y.iloc[0:(i*subset_size)-2]
      testingy = y.iloc[(i*subset_size)-2:]
    else:
      trainingx = pd.concat([x.iloc[0:(i*subset_size)],x.iloc[(i*subset_size)+subset_size:]])
      testingx = x.iloc[i*subset_size:(i*subset_size)+subset_size]
      trainingy = pd.concat([y.iloc[0:(i*subset_size)],y.iloc[(i*subset_size)+subset_size:]])
      testingy = y.iloc[i*subset_size:(i*subset_size)+subset_size]
    # a = perhitungantraining(trainingx,trainingy,k)
    b = perhitungantesting(trainingx,trainingy,testingx,k)
    # print(akurasi(a,trainingy))
    # print(akurasi(b,testingy))
    # akurasitrain.append(akurasi(a, trainingy))
    akurasitest.append(akurasi(b, testingy))
  # print('======')
  # print('rata-rata')
  # ratatrain = np.average(akurasitrain)
  ratatest = np.average(akurasitest)
  # print(ratatrain)
  # print(ratatest)
  return ratatest

  # print(trainingx)
  # print('============================')
  # print(testingx)
  # print('++++++++++++++++++++++++++++')

# main(11)
# main(15)

In [ ]:
n = 3
print('manhattan')
for i in range(9):
  print('rata-rata akurasi dengan k-',n,':', main(n))
  n+=2

manhattan
rata-rata akurasi dengan k- 3 : 74.15584415584416
rata-rata akurasi dengan k- 5 : 74.15584415584415